* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

.app {
  min-height: 100vh; 
  background-color: rgb(96, 158, 179);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  border-radius: 30px;
  height: 300px;
  width: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red {
  color: red; 
}